{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}


<h1>{{recipe.name}}</h1>

<p>
    {{forms.destroy_button("#{base_path}/drink/#{recipe.id}/destroy")}}
    <a href="{{base_path}}/drink/{{recipe.id}}/edit" class="btn btn-info" role="button">Muokkaa</a>
</p>

<p>
    
    
    <h3>Resepti</h3>
    {{recipe.instructions}}
    
    <h3>Ainesosat</h3>
    {% for ingredient in ingredients %}
    {{ingredient.name}}
    {% endfor %}
    
    <div class="alert alert-success">
        {{message}}
    </div>
</p>


{% endblock %}