{% extends "base.html" %}
{% block content %}


<h1>{{recipe.name}}</h1>

<p>
<form method="post" action="{{base_path}}/drink/{{recipe.id}}/destroy" style="display: inline-block;">
    <button type="submit" class="btn btn-danger">Poista</button>
</form>
    <a href="{{base_path}}/drink/{{recipe.id}}/edit" class="btn btn-info" role="button">Muokkaa</a>
</p>

<p>
    
    
    <h3>Resepti</h3>
    {{recipe.instructions}}
    
    
    <div class="alert alert-success">
        {{message}}
    </div>
</p>


{% endblock %}