

{% extends "base.html" %}
{% block content %}


<h1>Drinkit</h1>



<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Kuvaus</th>
            <th>Lisätty</th>            
        </tr>
    </thead>

    <!-- Taulukon sisältö -->
    <tbody>
        {% for recipe in recipes %}
        <tr>
            <td><a href="{{base_path}}/drink/{{recipe.id}}">{{recipe.name}}</td>
            <td>{{recipe.description}}</td>
            <td>{{recipe.added}}</td>

        </tr>
        {% endfor %}       

    <div class="alert alert-success">
        {{message}}
    </div>
</tbody>
</table>


{% endblock %}