

{% extends "base.html" %}
{% block content %}


<h1>Ainesosat</h1>



<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Nimi</th>            
        </tr>
    </thead>

    <!-- Taulukon sisältö -->
    <tbody>
        {% for ingredient in ingredients %}
        <tr>
            <td><a href="{{base_path}}/ingredient/{{ingredient.id}}">{{ingredient.name}}</td>
        </tr>
        {% endfor %}   
        
    <p><a href="/tsoha/ingredient/new">Liää ainesosa</a></p>

    <div class="alert alert-success">
        {{message}}
    </div>
</tbody>
</table>


{% endblock %}